.custom-row {
  margin-top: 16px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 16px;
}

.custom-row:first-child {
  margin-top: 0px;
}

.custom-row:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}