body {
  display: block;
}

.calculator-container {
  background-color: #e4ebf4;
  padding: 16px;
  margin: auto;
  max-width: 240px;
  min-width: 240px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid #dfdcdc;
}